@font-face {
    font-family: 'BerkeleyMono';
    src: url('fonts/BerkeleyMono-Bold.woff2') format('woff2'),
        url('fonts/BerkeleyMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BerkeleyMono';
    src: url('fonts/BerkeleyMono-Bold.woff2') format('woff2'),
        url('fonts/BerkeleyMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BerkeleyMono';
    src: url('fonts/BerkeleyMono-Regular.woff2') format('woff2'),
        url('fonts/BerkeleyMono-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BerkeleyMono';
    src: url('fonts/BerkeleyMono-Italic.woff2') format('woff2'),
        url('fonts/BerkeleyMono-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
